In [1]:
%load_ext sql

In [3]:
%sql postgresql://dwhuser:Passw0rd@dwhcluster.crjjzoxeziex.us-west-2.redshift.amazonaws.com:5439/sparkify

'Connected: dwhuser@sparkify'

In [5]:
%sql SELECT songplay_id, song_id, artist_id, location FROM fact_songplays LIMIT 2;

 * postgresql://dwhuser:***@dwhcluster.crjjzoxeziex.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[(53, 'SOULTKQ12AB018A183', 'ARKQQZA12086C116FC', 'Sacramento--Roseville--Arden-Arcade, CA'),
 (57, 'SORTSWB12A58A7DCA3', 'ARBAW9R1187B98FB6B', 'New York-Newark-Jersey City, NY-NJ-PA')]

In [7]:
%sql SELECT * FROM dim_users LIMIT 2;

 * postgresql://dwhuser:***@dwhcluster.crjjzoxeziex.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[(17, 'Makinley', 'Jones', 'F', 'f'), (80, 'Tegan', 'Levine', 'F', 'f')]

In [11]:
%sql SELECT * FROM dim_songs LIMIT 2;

 * postgresql://dwhuser:***@dwhcluster.crjjzoxeziex.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[('SOITACD12A8C1371CD', 'Pecatore (Album Version)', 'AR01G6G1187B9892EF', 0, 167.36608),
 ('SOKRSCD12AB01822B6', 'Frenomotor', 'AR01G6G1187B9892EF', 2008, 191.21587)]

In [19]:
%sql SELECT * FROM dim_artists LIMIT 2;

 * postgresql://dwhuser:***@dwhcluster.crjjzoxeziex.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[('AR2J2WF1187FB46271', 'Francis Dunnery', 'Egremont, Cumbria, England', 54.48303, -3.53444),
 ('AREJC2N1187FB555F9', 'Dare', None, None, None)]

In [17]:
%sql SELECT * FROM dim_time LIMIT 2;

 * postgresql://dwhuser:***@dwhcluster.crjjzoxeziex.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 11, 13, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 24, 53, 796000), 21, 1, 44, 11, 2018, 4)]